<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="google-site-verification" content="K_AXgoid4a4uLiS-N7IxczagWjhQTX6TOQxnXe_0smo" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="og:image"       content="https://lamhotsimamora.github.io/Covid19-Indonesia/assets/img/covid19-pdrtechnology.png" />
    <meta property="og:image"       content="https://lamhotsimamora.github.io/Covid19-Indonesia/assets/img/covid19-pdrtechnology.png" />
    <link rel="shortcut icon" type="image/png" href="icon.png"/>
    <meta name="ROBOTS"       content="index"/>
    <meta name="Author"       content="@lamhotsimamora | PDR Technology" />
    <meta name="copyright"      content="Copyright@2020 | All Right Reserved" />
    <meta property="og:title"     content="#dirumahAja | Data Real Kasus Virus Corona / Covid 19 Indonesia" />
    <meta property="og:description" content="#dirumahAja | Data Real Kasus Virus Corona / Covid 19 Indonesia" />
    <meta property="og:name"        content="#dirumahAja | Data Real Kasus Virus Corona / Covid 19 Indonesia" />
    <meta name="language"         content="Indonesian, English" />
    <meta name="distribution"       content="Global" />
    <meta name="rating"         content="General" />
    <meta name="expires"        content="1800" />
    <meta name="theme-color"        content="#2980b9"> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <title>
     #dirumahAja | Data Real Kasus Virus Corona / Covid 19 Indonesia
    </title>
   <style>
    [v-cloak] {
    display: none;
    }
    </style> 
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://www.cdn.lamhotsimamora.com/garuda2/"></script>
  </head>
  <body>
  
  <div id="_header">
    
  </div>
  <script src="js/header.js"></script>
<br>
  
    <div class="container" id="loading">
         <div class="mx-auto" v-if="show">
            <img class="rounded mx-auto d-block" src="assets/img/index.svg" alt="" width="60" height="60">
         </div>
    </div>
  
    <div class="container" id="app" v-cloak>
      <div class="alert alert-light" role="alert">
        Tanggal :  <strong>{{ tanggal }}</strong>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Pilih Negara</label>
        </div>
        <select class="custom-select" v-model="country" @change="selectCountry">
            <option v-for="country in data_country" :value="country.Code">{{ country.Name }}</option>
        </select>
      </div>
    
        <div class="card">
          <h5 class="card-header"><img :src="country_flag" alt="" width="20" height="15"> | Negara {{ data_indonesia.country }}  </h5>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Total Kasus : <h3><strong style="color: #34495e">{{ _moneyFormat(data_indonesia.cases,'') }} orang</strong></h3></li>
                  <li class="list-group-item">Total Meninggal : <h3><strong style="color: #e74c3c">{{ _moneyFormat(data_indonesia.deaths,'') }} orang</strong></h3></li>
                  <li class="list-group-item">Sembuh : <h3><strong style="color: #27ae60">{{ _moneyFormat(data_indonesia.recovered,'') }} orang</strong></h3></li>
                </ul>
               <hr>
            </p>
            <div v-if="btn_provinsi"><a href="provinsi.html" class="btn btn-primary btn-sm">Berdasarkan Provinsi</a></div>
          </div>
        </div>
    </div>
    <br>
    <div class="container">
      <hr>
    </div>
 <br>
    <div class="container chart-container">
      <div class="alert alert-primary" role="alert">
        Data Real : Total Kasus Covid19 di Dunia
      </div>
         <canvas id="chart_covid"></canvas>
    </div>

    <br><br>

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">#dirumahAja | developed by <a href="https://github.com/lamhotsimamora">@lamhotsimamora</a> | <a href="https://github.com/lamhotsimamora/Covid19-Indonesia">Repository</a> | Copyright@2020</span>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script src="js/server.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
